/* @font-face {
  font-family: Lufga-Black;
  src: local("./fonts/LufgaBlack.ttf");
}

@font-face {
  font-family: Lufga-Regular;
  src: local("./fonts/LufgaRegular.ttf");
} */

body {
  background-color: #f5f7fb;
  margin: 0;
  padding: 0;
  font-family: Lufga-Black;
  overflow-x: hidden;
  font-size: large;
}

a {
  text-decoration: none;
}
.container {
  margin: auto 5rem;
}

.logo {
  width: 100%;
}

.gallery {
    display: flex;
}

.links {
  display: flex;
  gap: 1.5em;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  float: right;
}
.mainpart {
  position: absolute;
  background-color: #d3fe67;
  width: 100vw;
  height: 80vh;
  clip-path: polygon(40% 0%, 100% 100%, 100% 0);
  top: 0;
  z-index: -2;
}

.semicircle {
  position: absolute;
  width: 100vw;
  height: 80vh;
  clip-path: circle(20% at 57.5% 30%);
  background-color: #00c9ac;
  z-index: 1;
}

.outercircle {
  position: absolute;
  width: 100vw;
  height: 80vh;
  clip-path: circle(20% at 61% 31%);
  background-color: #ff406f;
  overflow: hidden;
  z-index: -2;
}

.keepbuttons > h2 {
  color: gold;
}

.star {
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
}

/* full width cells by default */
.gallery-cell {
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.firstpart {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.rightside {
  display: flex;
  position: absolute;
  width: 100%;
}



.model {
  border-radius: 50%;
  width: 450px;
}
.leftside {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: 100%;
}

.leftside > h1 {
  margin-top: 0;
  font-size: 80px;
  margin-bottom: 0;
  width: 80%;
}

.mobile {
  display: none;
}
.leftside > h4 {
  font-size: small;
  animation: showTopText 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.keepbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.get-started {
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 50px;
  color: rgb(255, 255, 255);
  background: linear-gradient(225deg, transparent 7px, rgb(0, 0, 0) 7px);
  font-family: Lufga-Black;
  border: 0;
}

.get-started:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0 0 0.75rem rgb(12, 0, 3));
  transform: scale(1.05) rotate(-1deg);
}

.rating > h3 {
  margin: 0 auto;
  text-align: center;
}

.rate {
  font-size: small;
}

.section2 {
  margin-top: 2em;
  width: 100%;
}

.card {
  background-color: #ffffff;
  /* Shape */
  box-sizing: border-box;
  height: 400px;
  color: rgb(0, 0, 0);
  background: linear-gradient(225deg, transparent 20px, rgb(240, 240, 240) 7px);
  font-weight: bold;
  border: 0;
  padding: 20px;
}

.card:hover {
  transition: all 0.5s ease-in;
  transform: scale(1.1);
}

.date {
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  padding: 20px;
  text-align: center;
  line-height: 1px;
  height: 10px;
  color: rgb(255, 255, 255);
  background: linear-gradient(225deg, transparent 7px, rgb(0, 0, 0) 7px);
  font-weight: bold;
  font-size: small;
  border: 0;
}

.august {
  color: #ff84a2;
  background: linear-gradient(225deg, transparent 7px, #ffecf1 7px);
}

.today1 {
  color: #e8faf8;
  background: linear-gradient(225deg, transparent 7px, #00c9ac 7px);
}

.today2 {
  color: #8880e7;
  background: linear-gradient(225deg, transparent 7px, #e7e5fa 7px);
}

.topic-points {
  font-size: 24px;
  font-weight: bolder;
}
.topic-points > h4 {
  margin-bottom: 0;
}

.topic-points > h5 {
  margin-top: 0;
  font-size: 14px;
  color: #c7c7c7;
  font-family: Lufga-Regular;
}

.user-details {
  display: flex;
  width: 100%;
}

.user-name {
  width: 100%;
  display: flex;
  align-items: center;
}
.user-icon {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgb(201, 197, 198));
}

.model-icons {
  display: flex;
  width: 50%;
  border-radius: 50%;
}

.attribution {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: monospace;
  font-size: x-small;
  justify-content: center;
  align-items: center;
}

.desktop {
  animation: showTopText 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  /* background-color: #00c9ac; */
}

 .animated-title{
    display: none;
  }


.rightside{
  display: none;
}

@media screen and (min-width:2560px) {
  .rightside{
    position: absolute;
    left: -18%;
  }

  .image{
    position: absolute;
   top: 90px;
  }
}

@media screen and (min-width:1440px) {

.image{
  left: 73.5%;
  top: -3em;
}

.keepbuttons{
  /* background-color: #8880e7; */
  max-width: 40%;
}

.rightside{
width: 95%;
}

.image::after{
  content: "";
  left: -20%;
  min-width:350px;
  min-height:350px;
}
.image::before{
  content: "";
  left: -15%;
  min-width:350px;
  min-height:350px;
}

.desktop{
  font-size: 100px;
}
.rightside{
  display: flex;
}
}


/* =========================================================== */


@media only screen and (min-width: 1024px) {
  .semicircle {
    position: absolute;
    width: 100vw;
    height: 80vh;
    clip-path: circle(15% at 57.5% 30%);
    background-color: #00c9ac;
    z-index: 1;
  }
.rightside{
  display: flex;
}
 
  .mobilemenu {
    display: none;
  }

 .image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4dcb8;
  border-radius: 50%;
  width: 20%;
  right: 3.5%;


}

.rightside{
  top: 15%;
  right: 20%;
}

  .model {
   max-width: 100%; 
  }

  .outercircle {
    position: absolute;
    width: 100vw;
    height: 80vh;
    clip-path: circle(15% at 60% 25%);
    background-color: #ff406f;
    overflow: hidden;
    z-index: -2;
  }

  .image::after {
    position: absolute;
    content: "";
    height: 300px;
    width: 300px;
    z-index: -1;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    z-index: -1;
    padding: 0.2em;
    right: -55px;
  }

  .image::before {
    position: absolute;
    content: "";
    height: 300px;
    width: 300px;
    z-index: -1;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    z-index: -1;
    padding: 0.2em;
    right: -70px;
  }

  .keepbuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }

  .keepbuttons > h2 {
    color: gold;
  }

  .star {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
  }

  .gallery-cell {
    width: 100%;
  }

  .gallery:after {
    content: "";
  }


}

/* Tablet Mode */
@media screen and (width: 768px) {
  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
  }

  .gallery-cell {
    width: 100%;
  }

  .gallery:after {
    content: "";
  }

  .mobilemenu {
    display: none;
  }


.rightside{
  display: none;
}

}



/* FOR MOBILE SCREENS------------ */
@media screen and (max-width: 425px) {
  /* half-width cells for larger devices */
  body {
    font-size: medium;
    animation: fadein 0.5s ease-in;
    /* transition: opacity 2s ease-in; */
  }

   .animated-title{
    display: block;
  }

  .links {
    justify-content: center;
    width: 100%;
  }
  .container {
    margin: 0;
  }

  .desktop {
    display: none;
  }

  .leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .firstpart {
    flex-direction: column;
    justify-content: center;
  }

  /* Animation */

  .animated-title {
    height: 90vmin;
    width: 90vmin;

    /* background-color: darkblue; */
  }

  .animated-title > div > {
    height: 50%;
    overflow: hidden;
    width: 100%;
  }

  .animated-title > div div {
    font-size: 17vmin;
    padding: 2vmin 0;
    text-align: center;
    /* position: absolute; */
  }

  .animated-title > div div span {
    display: block;
  }

  .animated-title > div.text-top {
    /* bar line */
    overflow: hidden;
    margin: 0;
    border-bottom: 0vmin solid #000;
    top: 0;
  }

  .grow-border::after {
    content: "";
    display: block;
    border-bottom: 1vmin solid black;
    margin: 0 auto;
    width: 0%;
    animation: growline 0.5s linear forwards;
  }

  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }

  .animated-title > div.text-bottom {
    bottom: 0;
    height: 50vmin;
    overflow: hidden;
  }

  .animated-title > div.text-bottom div {
    display: block;
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    transform: translate(0, -100%);
  }

  .logic-sub {
    /* background-color: #000; */
    text-align: center;
    visibility: hidden;
     animation: sub-fadein 4.5s forwards;
  }

  /* Animation */

  .mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    animation: showTopText 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  .horizontal-bar {
    border-color: black;
    width: 300px;
    margin: 0 auto;
    align-items: center;
  }

  .rightside {
    display: none;
  }

  .keepbuttons {
    justify-content: space-around;
    width: 100%;
  }

  .gallery {
    margin: 0 auto;
    width: 90%;
  }

  .gallery-cell {
    width: 100%;
  }

  .gallery::after {
    content: "flickity";
    display: none;
  }

  .card {
    justify-content: center;
    align-items: center;
    padding: 70px;
    padding-top: 25px;
  }

  .topic-points > h4 {
    font-size: 24px;
  }

  .mobilemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background-color: #7f9743;
    z-index: 100;
    row-gap: 3em;
    animation: slide-right 1s forwards;
    transform: translateY(-100%);
    transition: all 0.3s linear;
    height: 0;
  }

  .showlinks {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform: translateY(-100%);
    visibility: visible;
    transition: all 0.3s linear;
    z-index: 1;
  }

  .mobilemenu > a {
    color: white;
  }

  .hamburger {
    color: white;
    font-size: larger;
    z-index: 100;
  }

  .attribution {
    margin-top: 3em;
  }
}



/* Animations */
@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes growline {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 5%;
    width: 90%;
  }
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes sub-fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: visible;
  }

  100%{
    opacity: 1;
    visibility: visible;
  }
}

